# Node modules
node_modules/

# Build outputs
build/
dist/
ios/build/
android/build/

# Miscellaneous
*.log
*.lock

# Configuration files
*.env
.vscode/
.idea/
*.iml
*.tsbuildinfo

# Expo generated folders
.expo/
.expo-shared/

# Ignore Git files
.git/
